In [1]:
from pandas import read_csv
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('individuos.csv')

In [3]:
df

   individuo      origen  peso  tamano
0      cam01    Alemania    18    26.0
1      cam02    Alemania    38    62.0
2      cam03    Alemania    39    59.5
3      cam04    Alemania    28    41.0
4      cam05    Alemania     7    13.5
5      cam06    Alemania    29    46.5
6      cam07    Alemania    19    25.5
7      cam08    Alemania    25    40.5
8      cam09    Alemania    40    59.0
9      cam10    Alemania    16    19.0
10     tur01  Inglaterra    26    39.0
11     tur02  Inglaterra    17    21.5
12     tur03  Inglaterra    32    49.0
13     tur04  Inglaterra    21    31.5
14     tur05  Inglaterra    21    27.5
15     pet01  Inglaterra     6    11.0
16     pet02      Italia     8    12.0
17     pet03      Italia    28    40.0
18     pet04      Italia    10    15.0
19     pet05      Italia    19    28.5
20     pet06      Italia    13    17.5
21     pet07      Italia    16    29.0
22     pet08      Italia    15    20.5
23     pet09      Italia    36    54.0
24     pet10     Francia    39    53.5
25     tur06     Francia    33    49.5
26     tur07     Francia    31    43.5
27     tur08     Francia     9    15.5
28     tur09     Francia    10    17.0
29     tur10     Francia     5    11.5
30     tur11     Francia    20    26.0
31     tur12     Francia    27    43.5

In [4]:
len(df)

32

In [5]:
'individuo' in df

True

In [6]:
print(df['individuo'].dtypes)
print(df['origen'].dtypes)
print(df['peso'].dtypes)
print(df['tamano'].dtypes)

object
object
int64
float64

In [7]:
data = pd.read_csv("individuos.csv", index_col = "individuo")
data.head()

             origen  peso  tamano
individuo
cam01      Alemania    18    26.0
cam02      Alemania    38    62.0
cam03      Alemania    39    59.5
cam04      Alemania    28    41.0
cam05      Alemania     7    13.5

In [8]:
#weight of the second individual
print(data['peso']['cam02'])

38

In [9]:
#weight of the first individual
print(data['peso']['cam01'])

18

In [10]:
#weight of the tur03
print(data['peso']['tur03'])

32

In [11]:
#weight of the pet05
print(data['peso']['pet05'])

19

In [18]:
#max of each column  
print(data.max())

origen    Italia
peso          40
tamano        62
dtype: object

In [19]:
#the biggest size 
print(data[data.tamano == data.tamano.max()])

             origen  peso  tamano
individuo
cam02      Alemania    38    62.0

In [20]:
#the bigest weight
print(data[data.peso == data.peso.max()])

             origen  peso  tamano
individuo
cam09      Alemania    40    59.0

In [21]:
data.median()

peso      20.50
tamano    28.75
dtype: float64

In [25]:
data_media = pd.read_csv("individuos.csv", index_col = "origen")
data_media.head()

         individuo  peso  tamano
origen
Alemania     cam01    18    26.0
Alemania     cam02    38    62.0
Alemania     cam03    39    59.5
Alemania     cam04    28    41.0
Alemania     cam05     7    13.5

In [26]:
#media of the size in Alemania 
data_media.loc["Alemania", "tamano"].median()

40.75

In [28]:
#media of the size in Inglaterra
data_media.loc["Inglaterra", "tamano"].median()

29.5

In [29]:
#media of the size in Italia
data_media.loc["Italia","tamano"].median()

24.5

In [30]:
#media of the size in Francia
data_media.loc["Francia", "tamano"].median()

34.75

In [35]:
#correlation beetween weight and size 
data.corr(method ='pearson')

            peso    tamano
peso    1.000000  0.984333
tamano  0.984333  1.000000

In [38]:
Ing = data_media.loc["Inglaterra", :]
print(Ing)

           individuo  peso  tamano
origen
Inglaterra     tur01    26    39.0
Inglaterra     tur02    17    21.5
Inglaterra     tur03    32    49.0
Inglaterra     tur04    21    31.5
Inglaterra     tur05    21    27.5
Inglaterra     pet01     6    11.0

In [39]:
Inglaterra = pd.DataFrame(Ing)

In [41]:
#DataFrame of individuals of Inglaterra
Inglaterra

           individuo  peso  tamano
origen
Inglaterra     tur01    26    39.0
Inglaterra     tur02    17    21.5
Inglaterra     tur03    32    49.0
Inglaterra     tur04    21    31.5
Inglaterra     tur05    21    27.5
Inglaterra     pet01     6    11.0